[2013-07-31 13:40] niftylettuce opened #2 "lowestRate not returning 'FirstClassMailInternational' vs. 'PriorityMailInternational'"
Currently shipment.lowestRate returns `PriorityMailInternational` when it should instead return `FirstClassMailInternational`

[2013-10-22 20:03] aboosoyeed opened #3 "shipment.buy() is throwing an error"
shipment.buy() is throwing an error
it takes the argument {rate: shipment.lowestRate()}

and shipment.lowestRate() has the following return value

{ id: 'rate_eEgxa9nY',
  object: 'Rate',
  created_at: '2013-10-22T19:31:16Z',
  updated_at: '2013-10-22T19:31:16Z',
  service: 'First',
  rate: '1.69',
  carrier: 'USPS',
  shipment_id: 'shp_XCuru2Rs' }

printing err gave me
{ message: undefined, param

[2013-10-23 01:40] #3 closed, assigned to nobody

[2013-12-29 00:28] #2 closed, assigned to nobody

[2013-12-29 01:49] crispen-smith opened #6 "Documentation seems misleading"
Hi!

I'm really thrilled by the easpost API but I'm not 100% sure that I understand the docs for easypost-node as they currently stand.

You have:
    `var easypost = require('./lib/main.js')(apiKey);`

should this always be ./lib/main.js or can it be mapped to fit within the context of a larger package (ie. ./node_modules/easypost/lib/main.js).

Specific to my use-case, I'm looking to add EasyPos

[2013-12-29 06:06] niftylettuce opened #9 "Codebase is extremely ugly."
This is terrible, unorganized, and ugly.  Not human readable.  Should be using help functions such as _ or lodash as well.

[2013-12-29 06:23] niftylettuce opened #10 "Add niftylettuce to NPM users"
Please add to NPM:

[code]

[2013-12-29 19:13] #10 closed, assigned to nobody

[2013-12-29 19:13] #9 closed, assigned to nobody

[2013-12-29 19:14] #6 closed, assigned to nobody

[2014-04-19 22:55] tjohns opened #13 "Error: Hostname/IP doesn't match certificate's altnames"
When using the easypost CLI, I'm getting SSL errors while attempting to communicate with the Easypost servers.

**Example:**

[code]

[2015-03-28 01:18] evliu opened #16 "API Docs"
Did you guys plan to have an API doc for this, since it's not on the easypost website? Hopefully it'd be easier to implement than going through the source code. Thx

[2015-05-11 18:30] boboci9 opened #17 "Issue with the parcel create method"
Hi,

I am trying to create a parcel but every time I call the parcel.create method an empty object is returned. Can you tell me what can be the issue?

[code]

Thanks for your help in advance.

[2015-05-11 18:35] mbeale commented on #17
@boboci9 could you write into support at easypost.com.  this would be best solved in email.  please include the email used to register the easypost account.

[2015-05-11 18:35] #17 closed

[2015-07-11 13:18] andreipopovici opened #18 "API call for Shipment.prototype.getRates is POST instead of GET"
The code at https://github.com/EasyPost/easypost-node/blob/master/lib/main.js#L354 sends a POST request with undocumented parameters, but the docs at https://www.easypost.com/docs/api?lang=curl#shipping-rates suggest it should be a GET at shipments/:id/rates.

Am I understanding the docs or the code wrong, or is this a valid issue?

[2015-07-13 18:54] att14 commented on #18
There are actually 2 rates endpoints. One `/rates` and `/shipments/:id/rates`. The former is a POST and the later is a GET. Unfortunately this is inconsistent and they were mistaken for each other.

@victoryftw can you handle this?

[2015-07-14 18:50] victoryftw commented on #18
This issue has been fixed in version 2.0.7

[2015-07-14 18:50] #18 closed

[2015-07-15 09:46] andreipopovici opened #19 "Create official Meteor package"
Hey guys,

Thank you for the quick bugfix for #18. With the new 2.0.7 release, I also updated [andreipopovici/meteor-easypost](https://github.com/andreipopovici/meteor-easypost) and published to the Meteor package manager.

If you're open to it, I'd suggest adding Meteor support to easypost-node directly, so I don't accidentally miss any future updates. There's a quick guide here: http://www.meteo

[2015-08-17 19:11] kruny1001 opened #21 "Bad_Request error message"
I ran the example.js.
why is this error message shown?

{ message:
   { code: 'BAD_REQUEST',
     message: 'Invalid parameters were passed and the record could not be persisted.',
     errors: [ [Object] ] },
  param: undefined }

How can I deal with this error?

[2015-08-17 20:52] att14 commented on #21
Please provide an example to reproduce the issue and reopen. Alternatively, email support@easypost.com and identify your EasyPost account by email address.

[2015-08-17 20:52] #21 closed

[2015-08-17 21:08] victoryftw commented on #21
Just to follow up, example.js includes this error as an example of how to handle an error response.

The error occurs on the `easypost.Parcel.create` line (the value being passed for the 'predefined_package' field is "InvalidPackageName"). Another parcel is defined after, showing a different way to specify a parcel object. The error is intentional and so there is no need to deal with it.

[2015-09-28 14:28] AlexFrazer opened #22 "Wrap with futures for meteor package"
Everything in Meteor uses futures. Why not use futures? It should be pretty simple. Easy example:

[code]

[2015-12-03 15:35] gaboesquivel commented on #16
:+1:

[2015-12-22 16:50] gaboesquivel opened #26 "question: is there are way to do multi-parcel shipments ?"
on twitter they send me to php examples https://twitter.com/easypost/status/679346621176418304

example https://github.com/EasyPost/easypost-php/blob/master/examples/orders.php

on php, there's EasyPost::Order ... I can't find here or in the docs

[2015-12-23 21:33] k-funk commented on #26
Currently that's not built in to the node library. We will do our best to implement that in a couple weeks.

[2015-12-24 14:34] gaboesquivel commented on #26
cool thanks, let me if there's anything I can to do to help. I'm currently working on an app that needs guarantee multiple parcels are delivered together on the same date.

[2016-01-23 16:32] eytanlevit commented on #26
+1

[2016-01-27 15:21] gaboesquivel commented on #26
@k-funk any update on this?
Currently the only the way to this would be using single parcel shipments with same label, right?

[2016-01-28 19:08] k-funk commented on #26
What you're looking for is actually an endpoint called Orders. Not Batches. Batches is for buying multiple shipment labels in one call. We are in the process of writing Orders docs for our website, but unfortunately it's not built into the node library yet. We'll post here when it's available.

[2016-01-29 20:51] gaboesquivel commented on #26
Thanks @k-funk.  So it seems that for the time being this is the process that will work for us:

- Create a batch of  5-10 shipments.
- Create a pickup for the batch.
- Use batch webhooks to track status.

We need to use [Fedex Call Tags](http://www.fedex.com/us/developer/product/WebServices/MyWebHelp_Oct08/Content/WS_Developer_Guide/Returns_Shipping.htm)  since our clients won't be printing label

[2016-02-03 21:33] steven10172 opened #27 "Allowing Address verify and verify_strict parameters"
When using the api directly you can pass verify and verify_strict parameters to the address creation endpoint, but the node.js package does not support them. Can you please add support?

[code]

[2016-02-03 21:49] att14 commented on #27
Just added will release a new version of the client soon.

[2016-02-03 21:49] #27 closed

[2016-02-08 16:57] gaboesquivel commented on #26
Hi we really need to clarify this about the Fedex printing the labels for the clients when creating a pickup.

[2016-02-08 21:42] att14 commented on #26
Hi @gaboesquivel, if you email us at support@easypost.com we will be much more responsive about inquiries unrelated to this library.

Currently, we do not support FedEx Call Tags. If you email us we can look into adding it to our backlog.

[2016-02-08 22:43] gaboesquivel commented on #26
thanks, that's bad for us :/. Our mobile app users won't printing labels. You can close the issue now, or leave open for multi-parcel shipments.

[2016-04-20 08:33] andrest commented on #26
@k-funk any updates on this?

[2016-04-20 20:43] att14 commented on #26
#28 implemented this feature.

[2016-04-20 20:43] #26 closed

[2016-05-17 16:10] mugli commented on #16
Still no update? :(

[2016-05-20 23:59] kennetpostigo opened #31 "Shipping/Tracking"
Hello,

This more of an inquiry, currently working on a project and considering using easypost for it. Does this API handle both tracking a package and shipping for a package?

[2016-05-21 02:12] att14 commented on #31
Yes, you can see our products here: https://www.easypost.com/products

[2016-05-21 02:12] #31 closed

[2016-05-23 14:46] kennetpostigo commented on #31
Thank you @att14

[2016-06-09 15:00] kennetpostigo opened #33 "Odd API Response"
I'm currently testing out the `easypost-node` using the code from `example.js` in the repo with my test `apiKey`. However I would get a response that says the following:
[code]

Following this message I receive the log of the shipment from `console.log(shipment)` statement in the `easypost.Shipment.create({...})` call which has the shipment information. I know that the call succeeds because it app

[2016-07-27 21:46] sandysaders opened #35 "EasyPost IRC/Slack/Gitter"
Hello,

I wanted to know if there was an easy post IRC/Slack/GItter that developers can use to talk with people who know `easypost` API well. Similar to how `stripe` payment company has an IRC for developers to talk to the stripe engineers about their API. If there isn't would EasyPost be willing to create an IRC or Slack or Gitter?

[2016-07-27 21:47] sandysaders commented on #33
I've come across this same issue and not sure what is going wrong.

[2016-07-27 23:05] att14 commented on #33
If you write into support@easypost.com I can provide you with more information. I'm going to close this for now, but if we determine it is a client library issue I will reopen.

[2016-07-27 23:05] #33 closed

[2016-07-27 23:07] att14 commented on #35
No we don't have a messaging client, but our support is handled by engineers. So feel free to write to support@easypost.com any time and we will provide assistance.

[2016-07-27 23:07] #35 closed

[2016-08-02 17:51] vubui commented on #16
This has been forever.

"No up-to-date doc" in Readme would be nice.

[2016-11-15 13:15] urielcastrillon08 opened #36 "create carrier Account"
Hello
is possible create CarrierAccount whit this wrap?

[2016-11-25 22:50] franz-josef-kaiser opened #37 "Set up "dev" branch and tag properly"
While it's nice to have a `version` field in the `package.json`, it's not sufficient in most cases. Please: tag properly and make releases, there's even a dedicated page for it.

Easy and brief tutorial:

[code]

And please offer a `dev` branch so we can have a merge target and something that we can use for testing before running with all the new things into a production environment.

[code]

Than

[2016-11-28 19:11] ajacksified commented on #37
We've recently grown our front-end / node team and are working on improvements to the SDK; in the meantime, it's best to rely on NPM rather than git for node module versions. Thanks for your feedback.

[2016-11-28 19:11] #37 closed

[2016-11-28 21:48] franz-josef-kaiser commented on #37
@ajacksified You honestly have no resources to add the minimum of what makes version control what it is – and explain in the same sentence that you have grown your team? What I am asking for is work of 1-2h … top. If I could send PRs that contain just tags, I would, but this is not possible, so I ask another time: Could you please reopen this issue and get a single resource off of their day-to-day

[2016-11-28 23:01] ajacksified commented on #36
Not currently, although it is likely to come in the near future.

[2016-11-28 23:01] #36 closed

[2016-11-28 23:35] #22 closed

[2016-11-28 23:37] ajacksified commented on #16
Hey there,

We're working on docs - we haven't historically had many resources on the node sdk, but I'm here to help. I'll be revisiting the APIs we provide, cleaning up the code, and adding docs. I'll keep this open until we've released some docs.

[2016-11-28 23:37] #19 closed

[2016-11-28 23:38] #13 closed

[2017-01-05 20:02] ajacksified commented on #37
@franz-josef-kaiser - [we've released v3.0.0-rc.1](https://www.easypost.com/blog/2017-01-05-node-sdk-v3.html). It is up on NPM as 3.0.0-rc.1, and tagged here as well.

[2017-01-05 20:03] ajacksified commented on #36
@urielcastrillon08 - [we've released v3.0.0-rc.1](https://www.easypost.com/blog/2017-01-05-node-sdk-v3.html). It is up on NPM as 3.0.0-rc.1, and tagged here as well. You will be able to create CarrierAccounts with this update.

[2017-01-05 20:03] ajacksified commented on #22
@AlexFrazer - [we've released v3.0.0-rc.1](https://www.easypost.com/blog/2017-01-05-node-sdk-v3.html). It is up on NPM as 3.0.0-rc.1, and tagged here as well. This issue is a little old, but you can now use Promises with this update.

[2017-01-06 06:42] ajacksified commented on #16
[we've released v3.0.0-rc.1](https://www.easypost.com/blog/2017-01-05-node-sdk-v3.html), which is fully documented.

[2017-01-06 06:42] #16 closed

[2017-01-17 04:14] hosiduy opened #41 "Hi, after I install node-easypost using npm install node-easypost --save, I build and run. I have an error: can not find module ./easypost.js. I find that line is in index.js row 1, how can I generate easypost.js file?"

[2017-01-17 22:18] maiab commented on #41
Hey @hosiduy I had the same problem.

Instead of using 3.0, I installed version 2.1.1.

Then I needed to append

`node: {fs: "empty"}`

to my webpack config.

See https://github.com/josephsavona/valuable/issues/9

[2017-01-18 16:11] ajacksified commented on #41
@maiab and @hosiduy - 3.0 should be good to import now.

As this is a RC, any feedback you have about breakages would be extremely helpful!

[2017-01-18 16:11] #41 closed

[2017-01-18 16:11] ajacksified commented on #41
1de8c2d393f2dcaa153c8ae69fc602ad7b1027d0

[2017-01-18 23:05] katherinebui opened #42 "Header error on creating shipment"
<img width="582" alt="screen shot 2017-01-18 at 3 03 39 pm" src="https://cloud.githubusercontent.com/assets/15624292/22086794/5e296e46-dd8f-11e6-89d4-a32bae3601d9.png">

I am using the example code from the ReadMe. Every time I try to save the shipment information, I get this error.

[2017-01-19 23:58] ajacksified commented on #42
v3.0.0-rc.4 fixes the unsafe header errors; however, we don't allow CORS on our APIs. You will need to build an API proxy which holds the API keys, and make your requests through that proxy.

[2017-01-19 23:58] #42 closed

[2017-02-15 02:33] victoryftw opened #52 "Order get_rates"
There is currently no convenient way to refresh stale rates on an Order object via the NodeJS client library. This functionality was recently added to the API at `/v2/orders/:id/rates`; can we add support for this in the Node library as well?

[2017-03-08 00:27] bryton opened #54 "Basic example not working"
TypeError: fromAddress.save is not a function

Any ideas?

[2017-03-08 17:42] ajacksified commented on #54
What version of the SDK do you have installed?

[2017-03-09 19:43] bryton commented on #54
2.1.1

[2017-03-09 19:46] k-funk commented on #54
The basic example you're referring to is the README on v3.x.x. If you want to continue using 2.1.1, see that README: https://github.com/EasyPost/easypost-node/tree/v2.1.1

[2017-03-09 19:46] bryton commented on #54
It seems like the npm default published version was 2.1.1 - I upgraded to 3.0.0-rc.14 and it worked. Thanks!

[2017-03-09 19:46] #54 closed

[2017-03-12 02:35] tonydiaz opened #55 "Buy API: UnhandledPromiseRejectionWarning and DeprecationWarning in Node"
I'm running in to an error when trying to walk through the "Getting Started" document: https://www.easypost.com/getting-started/node.html#step4

Specifically it seems everything works except the **Buy Shipment** example

This is the error I'm seeing when the `buy` API is being called:
[code]

I have tried to call the `buy` API two ways the first from the Getting Started example the second from the

[2017-03-12 18:34] jalavosus opened #56 "Error creating new Tracker on Meteor server"
Version: 3.0.0-rc.14

Platform: macOS 10.11.something

Usage: Meteor/React

In my Meteor /server/main.js, I have the following code:

[code]

And it gets called by the client like so (though, in Coffeescript):

[code]

When this runs (as it's supposed to on page load), Meteor produces the following error in the console:

[code]

I feel like I'm doing something wrong here, I'm just not sure what it

[2017-03-15 00:58] k-funk commented on #55
Just ran your code locally and it worked for me.

Make sure the top of your file looks like:

    const apiKey = '<your_secret_test_api_key>';
    const EasyPost = require('node-easypost');
    const async = require('async');

    const api = new EasyPost(apiKey);

If you're still having the problem, let us know what version of node-easypost you're using. I tested with `3.0.0-rc.14`.

[2017-03-15 02:19] k-funk commented on #56
This is happening because you've created an invalid Tracker, and you are not handling the error.

I'm assuming that you created this Tracker with your Test API Key. All Trackers created in test need to use a provided `tracking_code` such as `'EZ4000000004'`. [See the EasyPost Documentation](https://www.easypost.com/docs/api#testing-specific-tracking-states) for the full list of codes.

You can see

[2017-03-16 00:38] bryton opened #57 "Label - unable to generate in PDF"
Hello all, I tried to generate a PDF label, I tried two things:

1) Setting label_format: 'PDF' when creating a shipment
2) Trying shipment.convertLabelFormat('PDF'), to which I got the error:
console.log(err.message)
< Status undefined returned from API request to shipments/shp_8e51e7a752064ecdbef7cdf003614cbf/label
The requested resource could not be found.

Any idea how to generate a label in P

[2017-03-16 18:59] ajacksified commented on #57
@bryton should be fixed with 3.0.0-rc.15, if you could give it a shot.

[2017-03-16 19:00] #56 closed

[2017-03-16 19:08] ajacksified commented on #55
Your code doesn't look properly asynchronous. You're calling `callback` immediately, instead of when the promise completes; you have:

[code]

when you should be using:

[code]
The error is likely that you're trying to buy before the shipment is saved. You can also capture the errors as a second param to the `then`:

[code]

You should be able to globally capture unhandled exceptions using code li

[2017-03-16 22:42] bryton commented on #57
It was fixed, thanks!

[2017-03-16 22:42] #57 closed

[2017-03-18 02:06] tonydiaz commented on #55
Thanks @k-funk and @ajacksified It was an issue with my code not properly doing the callbacks as @ajacksified suggested. I'm able to generate a test label now. Thanks for the help!

[2017-03-18 02:13] #55 closed

[2017-03-21 00:30] brianpowell opened #60 "Customs created_at and updated_at date fail validation on 3.0.0-rc.16"
<img width="867" alt="screen shot 2017-03-20 at 8 24 14 pm" src="https://cloud.githubusercontent.com/assets/2650513/24127570/fb66c4fa-0dab-11e7-9383-3dc603516215.png">

[2017-03-21 19:46] k-funk commented on #60
It appears as though you're creating a CustomsInfo with `object`,`created_at`, `updated_at` as empty strings. These fields are auto-generated by EasyPost, so they don't need to be passed. See https://www.easypost.com/docs/api/node.html#customs-infos-create-codesample

[2017-03-24 23:22] k-funk commented on #52
For reference: https://github.com/EasyPost/easypost-python/blob/master/easypost/__init__.py#L872-L877

[2017-04-26 13:32] gregkop opened #65 "batch.buy() is not a function"
I'm having an issue purchasing batch labels, once I've created a batch, waited until it's been created and retrieved it - I cannot call the .buy() function. I'm currently using version 3.0.0-rc.21 of the library. Any ideas what I can do?

[2017-05-02 17:58] ajacksified commented on #65
The node client library doesn't currently implement `buy` on batch - it only covers documented APIs. In the meantime, you can iterate through the shipment ids, pull those and run `buy` on each shipment. I will keep this issue open until implemented (it should be soon.)

[2017-05-04 17:38] #65 closed

[2017-05-04 17:38] #52 closed

[2017-05-04 17:38] #60 closed

[2017-05-08 20:07] ajacksified opened #68 "automatically buy shipment if `carrier_account` and `service` is specified in shipment `save`"

[2017-05-09 17:50] #68 closed

[2017-05-12 04:07] tonydiaz opened #70 "Question: Create a Shipment from Address IDs in Node.js"
Is it possible to create a shipment using address IDs in Node.js? I see the example on how to do it with a Curl command but no example for Node.js

The docs seems to state it needs an address object: https://www.easypost.com/docs/api.html#shipments

[2017-05-12 19:27] k-funk commented on #70
Yep, that works:

[code]

[2017-05-12 19:27] #70 closed

[2017-05-18 07:27] barbatus opened #71 "Setting batch in api.Pickup doesn't work"
I am getting error `PICKUP.REQUEST.INVALIDInvalid request, a batch with shipments or a shipment is required to create a Pickup.` while I provide valid shipping batch (with valid shipments) which has `label_generated` status. Also I noticed that `api.Pickup` is missing `batch` param in `propTypes` while `shipment` is there. Can you please clarify whether it's an issue or I am missing something. Tha

[2017-05-18 16:47] ajacksified commented on #71
Shipped as v3.0.7. Thanks for the report!

[2017-05-18 16:47] #71 closed

[2017-05-19 04:42] barbatus commented on #71
@ajacksified Can you please add `reference` to the `api.Shipment`, we need it to have an order ID shown in the shipment label.

[2017-05-19 19:34] k-funk commented on #71
@barbatus done.

[2017-05-27 00:39] k-funk opened #76 "customs_item.value becomes string after .save"
[code]

`value` is now a string. This is problematic when creating a CustomsInfos:
```errors: { value: 'Error: Invalid prop `value` of type `string` supplied to `CustomsItem`, expected `number`.' }```

[2017-05-27 00:57] Roguelazer commented on #76
`customs_info` is a Decimal and cannot safely be represented as a number in JSON

[2017-05-30 20:39] ajacksified commented on #76
In particular, in javascript, _everything_ is a float - I'll swap this to a string, and add a note to the docs that this in particular has to be a string due to precision. I took a look and it seems that this is the only decimal property we'll be working with, at least in the current api. If/when we end up with more apis that use decimals, we can look into implementing something to work with decim

[2017-05-30 20:44] k-funk commented on #76
@ajacksified it looks like there's floats/decimals on Parcels, Trackers, and CustomsItems

[2017-05-30 21:04] ajacksified commented on #76
Floats, yeah - which return as floats, rather than strings. Decimals are only on customs_item.value, fee_tiers.amount_percent, and tracking locations lat/long.

[2017-06-08 19:13] tonydiaz opened #79 "No delivery verification returning for from_address in Shipment object"
[code]

Returns an empty object for verifications in the `from_address`
`verifications: {}`

How should you ensure the return address (from_address) is valid while creating a shipment?

[2017-06-08 19:32] DorianGray commented on #79
We explicitly do not support this(on all clients) to encourage people to verify their from address beforehand and reuse it across multiple shipments. Re-verifying the same address over and over is usually bad idea.

[2017-06-08 19:54] k-funk commented on #79
As @DorianGray said, verify during creation. :

[code]

If you want to re-use an Address, you can just pass an address ID into the to/from_address fields:

const shipment = new Shipment({
  to_address: 'adr_...',
  ...
});

[2017-06-08 19:54] #79 closed

[2017-06-14 19:25] #76 closed

[2017-06-25 07:58] mikejohanson opened #82 "CarrierAccount - save not implemented"
Hey,

Just started integrating with EasyPost, the first thing I tried to do is create a carrier account. However, I'm getting a "NotImplementedError" for the method save() on the CarrierAccount. I'm just trying to follow the docs: https://www.easypost.com/docs/api#carrier-accounts.

This blog article posted in January states that Carrier Accounts is one of the available endpoints: https://www.easy

[2017-06-27 19:47] #82 closed

[2017-06-27 19:48] k-funk commented on #82
I've just released `v3.0.12` which solves your issue.

However, since you're just starting out, I'm guessing that you don't need to programmatically create new CarrierAccounts, and probably just have one set of credentials per carrier. If that is the case, you can add and edit CarrierAccounts at https://www.easypost.com/account/carriers which is much easier since the `credentials` fields that are

[2017-06-28 05:10] mikejohanson commented on #82
Awesome! Thanks for the closing the issue! With our setup each user will be using their own carrier accounts, so we'll be making heavy use of childusers and the carrier accounts API :)

[2017-07-16 18:32] macsj200 opened #85 "Including this with Meteor.js"
Something's wrong with my babel configuration inside of Meteor 1.4.4.2. When I try to use this npm module, my console spits out

[code]

[2017-07-17 19:27] k-funk commented on #85
Please provide a code sample that also includes your import.

[2017-07-19 05:06] ajacksified commented on #85
@macsj200, since you're using an older version of node, require the `regenerator-runtime` (https://www.npmjs.com/package/regenerator-runtime) package in your application before `require('@easypost/api')`.

[2017-07-19 05:06] #85 closed

[2017-08-03 06:56] cantonyselim commented on #33
I'm having this exact same problemsIt really defeats the point of GitHub issues if the threads always end with "write into support@easypost.com". Looking at this thread now it's really no help to figure out whats going wrong with my app. It may as well have not been posted here and just been an email exchange with EasyPost Support.

[2017-08-03 17:47] att14 commented on #33
These request can contain PII or other sensitive information so we would prefer not to use GitHub for non-client related issues.

[2017-11-12 22:48] AugustBrenner opened #89 "Cannot find module 'nodent-runtime'"
Error: Cannot find module 'nodent-runtime'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/{...}/node_modules/@easypost/api/easypost.js:83:18)

I think you might need to add nodent-runtime to the package.json

[2017-11-15 05:07] mikejohanson opened #90 "delete() not a function for CarrierAccount"
I'm trying to follow the sample code here:
[code]
However, both of those ways result in: `ca.delete is not a function`. Has this been implemented in this library?

[2017-11-17 23:47] k-funk commented on #90
Looks like our docs at https://www.easypost.com/docs/api/node.html#delete-a-carrier-account are currently wrong.

You can delete a Carrier Account using the static method:
`api.CarrierAccount.delete('ca_...').then(console.log)`

Thanks for bringing this to our attention. We will either update our docs, or allow `.delete()` on instances.

[2017-11-20 21:27] ajacksified commented on #89
Will deploy as 3.1.1.

[2017-11-20 21:27] #89 closed

[2017-11-20 22:05] ajacksified commented on #90
Deploying as 3.1.1.

[2017-11-20 22:05] #90 closed

[2018-03-24 00:01] SBero opened #93 "Issue calling API"
The included library works fine when I'm using our api test key, but using the production key, and we get the following error:

You have triggered an unhandledRejection, you may have forgotten to catch a Promise rejection:
[object Object]
    at a.<anonymous> (/var/node/node_modules/@easypost/api/easypost.js:160:5099)
    at Generator.throw (<anonymous>)
    at d (/var/node/node_modules/@easypost/

[2018-03-24 05:55] designxtek opened #94 "Fulfillment"
Does the client support fulfillment end points?

[code]

[2018-03-27 17:05] SBero commented on #93
Once we wrapped the generator methods in a try-catch block we were able to properly handle the error to realize we needed to fund our account for production use! :-|

[2018-03-27 17:05] #93 closed

[2018-03-29 23:36] ajacksified commented on #94
We don't currently have fulfillment endpoints built in. In the meantime, you can do it manually by setting the base url and manually firing post/get/etc:

[code]

[2018-03-30 16:20] designxtek commented on #94
Thanks I'll do that.

[2018-03-30 16:20] #94 closed

[2018-07-13 19:42] yonilerner opened #101 "Proxy support"
Hi, I need to be able to access the Easypost API with a proxy, library doesnt support it because its using `superagent` to make the requests, and `superagent` doesnt support proxies. There might be a way to make it work with https://github.com/TooTallNate/superagent-proxy . Alternatively, a library like `request`, that supports `HTTP_PROXY` and `HTTPS_PROXY` environment variables out of the box co

[2018-07-13 20:32] yonilerner commented on #101
You can see here how I implemented `superagent-proxy`: https://github.com/EasyPost/easypost-node/compare/master...yonilerner:master Very simple

[2018-07-13 22:29] yonilerner commented on #101
I made a PR for it: https://github.com/EasyPost/easypost-node/pull/102

[2018-09-01 07:37] lewisf opened #106 "webpack-cli as a production dependency"
Wondering why webpack-cli is a production dependency? If it isn't necessary can it be moved to a dev dependency? It's causing warnings in NPM install because it has a peer dependency on webpack.

[code]

[2018-09-05 14:15] ajacksified commented on #106
Looks like a mistake - updated in latest, `3.6.2`.

[2018-09-05 14:15] #106 closed

[2018-09-08 20:08] mikejohanson opened #108 "Creating child user accounts fails with PARAMETER.REQUIRED"
I'm trying to create a child user with the following code pulled from [here]:(https://www.easypost.com/docs/api/node.html#child-users)

[code]

However I'm getting the following error:
[code]

But i'm not sure what exactly is missing given I am performing the save on the user object itself? Using Postman I was able to make the call just fine, just seems to be an issue with this sdk.

[2018-09-12 17:15] ajacksified commented on #108
Should be fixed in 3.6.4. Thanks for the report!

[2018-09-12 17:15] #108 closed

[2018-09-14 22:43] mpopedeveloper opened #110 "Updating Shipment Parcel for new rate"
Good evening! I am using the easypost api for a project and after searching through the documentation I wanted to ask a question about specific functionality. For the EasyPost rates, I see that you have a method for retrieving the rates of a specific shipment like this:

[code]

However, I wanted to ask is there a way to update the rates on a shipment after it has been created via editing the parc

[2018-11-07 21:43] LoganSimonsen opened #111 "api.CarrierAccount.types() is not a function"
at https://www.easypost.com/docs/api/node#retrieve-available-carrier-types it is documented that this function will get carrier accounts 'api.CarrierAccount.types()', but it doesn't appear that this function actually exists here https://github.com/EasyPost/easypost-node/blob/master/src/resources/carrierAccount.js

Thus we get the error `api.CarrierAccount.types is not a function
`

[2018-11-09 20:39] LoganSimonsen opened #112 "Not able to create reports of any type"
Using the examples documented here https://www.easypost.com/docs/api/node#create-a-report I am getting errors such as:

`Logan:nodejs logan.simonsen$ node reports/createReport.js
/Users/logan.simonsen/easypostLibrary/nodejs/reports/createReport.js:18
const shipmentReport = new api.ShipmentReport({
                       ^

TypeError: api.ShipmentReport is not a constructor
    at Object.<anonymous

[2018-11-14 05:19] k-funk commented on #111
Appears to be a typo in the docs. Thanks for finding this. Will update that code sample ASAP.

The correct code is `api.CarrierType.all().then(console.log)`, however, `CarrierType`s are not very useful by themselves, as it is a long list of available carrier types that could be added as a carrier account, which is much easier to do via the dashboard currently at https://www.easypost.com/account/ca

[2018-11-14 05:19] #111 closed

[2018-11-14 05:35] k-funk commented on #112
Looks like those docs are for an old version of this library.

The current docs should (and will shortly) read:
[code]

[2018-11-14 05:35] #112 closed

[2018-12-14 21:37] LoganSimonsen opened #113 "src/resources/report.js doesn't jive with public documentation"
Here is our public example for generating reports through the API: https://www.easypost.com/docs/api/node#retrieve-a-list-of-a-reports

api.PaymentLogReport doesn't work anymore, related to change in March? What is the new method for generating a payment/refund/shipment/tracker log report?

[2018-12-14 21:49] LoganSimonsen commented on #113
sorry, this was solved previously and I forgot, public docs still need to be updated though. submitted internal ticket for that.

`const report = new api.Report({
  type: 'shipment',
  start_date: '2016-10-01',
  end_date: '2016-10-31'
});
report.save().then(console.log);
`

[2018-12-14 21:49] #113 closed

[2018-12-14 23:10] k-funk commented on #113
Docs updated for `api.Report.all()` and `api.Report.retrieve`: https://www.easypost.com/docs/api/node#retrieve-a-list-of-a-reports

[2018-12-20 01:05] tobias7an opened #114 "shipment.convertLabelFormat('PDF') produces label of wrong size"
4x6" PNG labels are resized to 11.5x8" when converted to PDFs using label conversion API.
No documentation was found for how to specify output label dimensions.

Sample of problem:
https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20181219/9888a75052924d729e0bb16239fce015.png
is converted to:
https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20181219/7b6d4c8

[2018-12-20 02:02] mwaldt commented on #114
Hi,

Please write into support@easypost.com for inquiries like this for quickest results. If you can provide the shipment id for this as well that would save an exchange.

Since this is not an issue with the node client library specifically I am going to close this issue.

[2018-12-20 02:02] #114 closed

[2019-03-22 08:05] sehgal-kanika opened #118 "Buy shipment : only able to buy shipment with USPS not with Fedex or any other carrier"
If i pass carrier as USPS it will give me the proper response with selected shipment , but if i m passing the FedEx it causing an error :
error:Status undefined returned from API request
to shipments/shp_a080bf254f444f328fb4c33a82fa5ce1/buy

[2019-03-22 08:08] sehgal-kanika commented on #118
AS i m using the code :

const lowestRate = ship.lowestRate(buyCarrier,buyService);
api.Shipment.retrieve('shp_...').then(s => {
  s.buy(lowestRate,0).then(console.log);
});

[2019-03-22 08:28] sehgal-kanika commented on #118
If print lowest Rate with  ship.lowestRate(buyCarrier,buyService)

response:

{ id: 'rate_cde5af3722084197b1a05a0646906af4',
  object: 'Rate',
  created_at: '2019-03-22T08:26:15Z',
  updated_at: '2019-03-22T08:26:15Z',
  mode: 'test',
  service: 'SMART_POST',
  carrier: 'FedExSmartPost',
  rate: '8.34',
  currency: 'USD',
  retail_rate: null,
  retail_currency: null,
  list_rate: '8.81',
  list_cu

[2019-03-22 11:43] sehgal-kanika commented on #118
Issue was due to the wrong street address in FedEx and they are strict, USPS will allow to buy the shipment but FedEx and other carrier verifying the shipment before buying it.

[2019-03-22 11:44] #118 closed

[2019-03-22 11:44] sehgal-kanika commented on #118
as issue resolve closing the issue

[2019-03-22 15:12] mwaldt commented on #118
Hi,

For issues like this please contact support@easypost.com for more immediate assistance. Also on a shipment object there is a messages array that will return carrier specific error messages that will detail why they failed to rate. You can read more about our shipment object in our docs as well.
https://www.easypost.com/docs/api#shipments

Cheers,

[2019-03-23 09:48] sehgal-kanika commented on #118
Thanks @mwaldt  but node api is not returning proper error, i got to know about my issue with curl hit as its giving proper error message

[2019-06-20 16:25] dturton opened #119 "Typescript support"
Are there any examples of this library used in Typescript?

[2019-06-20 16:30] dturton commented on #119
I was having an issue but it was related to my typescript install.

[2019-06-20 16:30] #119 closed

[2019-09-07 17:09] mendeljacks opened #122 "Are there any typescript type definitions for this?"

[2019-09-09 22:27] ajacksified commented on #122
There are not.

[2019-09-09 22:27] #122 closed

[2019-09-29 16:25] andrepadez opened #123 "Find saved Shipment by ID"
looking for a way to NOT having to cache the shipment Object between saving -> get rates -> waiting for user to select rate -> Buy label, `await api.Shipment({ id: <shipment_id>})`.

Is it possible already? How?
if not, would you consider implementing something like this?

Thanks in advance

[2019-10-17 16:31] cwidafor opened #124 "Retrieval ID for User is not actually optional"
`(node:16825) UnhandledPromiseRejectionWarning: RequestError: Status undefined returned from API request to users/undefined`

This is what I was getting passed back when trying to attempt:

`EPApi.User.retrieve()`

The docs say the user ID is optional, and it definitely should be. I can see the source code that it is actually always trying to pump through an ID variable, causing the strange "undef

[2019-10-17 16:40] cwidafor commented on #124
PR:

#125

[2019-10-22 23:59] k-funk commented on #124
@cwidafor thanks for reporting this issue. We'll get a fix out in the next day or two.

[2019-10-23 02:52] k-funk commented on #123
I'm guessing that you are building some kind of application where your "user" is someone else with a user-interface where they are manually selecting rates.

With that assumption, it really depends on your application.

You could, for example, in HTML have an `<input type="hidden" name="shipment_id" value="shp_1234" />`. Shipments have an `id` field that you can later fetch from EasyPost: https://

[2019-10-23 02:52] #123 closed

[2019-10-23 05:45] andrepadez commented on #123
Thank you, this is exactly what i was looking for

[2019-10-23 17:45] #124 closed

[2020-02-03 19:21] LoganSimonsen opened #128 "api.Tracker.all() not returning same response as cURL"
api.Tracker.all() function is not returning same response as cURL. Specifically it is missing the `has_more` key, which is useful for pagination. This is based off of the public facing EasyPost documentation here: https://www.easypost.com/docs/api/node#trackers-list-codesample

example response when using node api.Tracker.all()
`[ Tracker {
    _validationErrors: null,
    id: 'trk_6743bcd6252c4b1

[2020-02-03 22:09] #128 closed

[2020-02-26 20:11] andwilr opened #131 "How to proxy"
This is less of an issue and more of a general inquiry.

I understand the following from the docs and [this comment](https://github.com/EasyPost/easypost-node/issues/42#issuecomment-273937093):

I've tried building a proxy in Node a few different ways, but it's not working and I can't tell if I'm on the right track or way off.

### Working (no proxy)

I have a test file `index.js` that I run with

[2020-02-28 23:24] JHuppi commented on #131
I'm working on an Electron app and would also like to now how to setup a proxy server.

[2020-03-20 18:35] rrgrs commented on #131
In your proxy config try setting `changeOrigin` to true:

[code]

[2020-03-27 23:42] haseebsaif commented on #26
How to achieve this in NodeJS?

I am passing one parcel obj and I am getting the rates but when i try passed an array of parcel objs I am getting the error

[2020-03-27 23:52] att14 commented on #26
You can see the Node documentation for orders [here](https://www.easypost.com/docs/api/node#orders). If you are still receiving an error please reach out to support@easypost.com and they can help you.

[2020-03-27 23:56] haseebsaif opened #134 "How to Create a Shipment with Multiple Parcels"
Hello,

I am trying to get the rate of a Shipment with Multiple Parcels for DHL Express, but unable to do so.

If I pass a single parcel it returns me Price and all the other info but I have multiple Parcels to pass in a single shipment.

How to achieve that?

**Single Parcel: WORK FINE**
[code]
**For Two Parcels: How to achieve that?**
[code]

[2020-03-28 01:55] Justintime50 commented on #134
Hey @haseebsaif - this is a question better suited for our support team as it is how to implement the API and not a client library issue. Please reach out to support@easypost.com and we'll be able to assist you better there. As such, this issue may be closed. @jontsai

[2020-03-31 17:54] #134 closed

[2020-04-14 01:47] chasedougherty4628 commented on #131
Nuxt has a quick way to set up a proxy server.
https://nuxtjs.org/faq/http-proxy/

[2020-04-14 16:41] eschutho commented on #131
Looks like there are a few answers to the question, so I'm closing the issue, but let us know if you still have any questions.

[2020-04-14 16:41] #131 closed

[2020-05-21 20:43] ctogden opened #140 "api.Tracker.all with tracking_code parameter does not return only that tracking_code"
The code below returns multiple trackers (I think perhaps all the trackers I've created but I haven't confirmed):
[code]

According to the EasyPost docs, the expected behavior is "Only returns Trackers with the given tracking_code. Useful for retrieving an individual Tracker by tracking_code rather than by ID".

I'm using 3.8.1, the latest release available on npm.

[2020-05-21 20:55] Justintime50 commented on #140
@ctogden this works as intended as is not a problem with this particular client library; for instance, I just used this and it only returned a single tracker for me. Discarding the `tracking_code` parameter returned the entire list. If you are having the entire list returned, there must be something else wrong in your code.

[code]

If ever you run into issues you'd like EasyPost support on, feel

[2020-05-21 21:33] #140 closed

[2020-05-22 18:37] ctogden commented on #140
Ah, I had written tracker_code, not tracking_code. Thanks for the response.

[2020-05-31 07:23] MmtBkn commented on #118
In my case, I didn't realize that weight was required for the parcel, so It was returning this message. If you get this message you are probably missing some required field.

[2020-10-21 07:55] r-gareva opened #152 "Access to XMLHttpRequest has been blocked by CORS policy"
Hello, I'm testing EasyPost with testing API key and I keep getting this error. Have no idea how to fix it. I will gladly appreciate if anyone can help me with this. Also tried in Postman to create a test shipment but it doesn't let me create it.

Access to XMLHttpRequest at 'https://api.easypost.com/v2/shipments' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to pre

[2020-10-21 18:22] Roguelazer commented on #152
We don't allow Cross-Origin requests because we _strongly recommend against_ using our client libraries from client-side applications. In order to do so, you would have to expose your API keys to your clients, which would allow any of them to trivially abuse your EasyPost account.

[2020-10-21 18:22] #152 closed

[2020-11-12 08:40] JannikZed commented on #122
...and will there be typings ??

[2020-11-13 00:39] rrgrs commented on #122
no plans as of now

[2021-01-12 23:22] zxlin opened #155 "Bad build on v3.10.0"
The build for 3.10.0 is borked, repro steps below:

`yarn add @easypost/api` or `npm install @easypost/api`

`cat ./node_modules/@easypost/api/package.json`

[code]

`node`

[code]

[2021-01-13 00:25] Roguelazer commented on #155
This is fixed in v3.10.1. Thanks for reporting!

[2021-01-13 00:25] #155 closed

[2021-01-22 05:01] itoure opened #157 "Serverless Bundle Loader Issue"
Hello guys,
I'm using `easypost` with `serveless-bundle` and I'm getting multiple errors like this:

[code]
`serverless-bundle` is using `Webpack Raw Loader` which should be enough to load the file. (https://www.npmjs.com/package/serverless-bundle#support-for-pem-txt-and-other-raw-files)

Any ideas?

[2021-01-22 20:07] Roguelazer commented on #157
Do you need to pull in a different transpiled version of the library? I'm not at all familiar with `serverless-bundle`, but I believe our default babel build targets node8+, so if you are running against an older parser you may need to pull in the babel-ized node6 version.

[2021-06-04 02:51] justinwaite opened #169 "Incorrect propType for shipment.usps_zone"
Hey there,

It appears that the propType for `usps_zone` is incorrect. The API returns this as a `number`, but the propType is defined as a `string`.

https://github.com/EasyPost/easypost-node/blob/master/src/resources/shipment.js#L38

Screenshot of the response:
![image](https://user-images.githubusercontent.com/8517615/120738384-00fe8a80-c4ad-11eb-977d-3ce4d76e7b52.png)

This is breaking as I'm

[2021-06-04 03:07] justinwaite commented on #169
For the record, I attempted to fetch and update individual parcels using the SDK, and was met with an error during the `save` operation:
[code]

Trying it out in postman, I don't think we're allowed to actually POST to the parcels/:id endpoint. Maybe this should be accounted for in the SDK?

[2021-06-04 16:06] Justintime50 commented on #169
Hey @justinwaite, thanks for writing in! EasyPost records are immutable (with a couple exceptions). Once a shipment is created, it cannot be updated. If you would like to update the parcel weight, you'll need to create a new shipment with updated parcel information. The `save` operation for a shipment is only meant to save a new record and not update an old one. A couple of notable exceptions of r

[2021-06-04 16:56] Justintime50 commented on #157
@itoure were you able to get this resolved or is this still something you need help with?

[2021-06-04 18:59] justinwaite commented on #169
Sweet, thanks!

So is it okay to "orphan" these objects then? I don't need to run any sort of cleanup or deletion?

[2021-06-04 19:10] Justintime50 commented on #169
Exactly, we'll [eventually](https://support.easypost.com/hc/en-us/articles/360042847591-Data-Retention) purge them from our system, they are safe to leave behind as you continue creating new objects with the data you want.

[2021-06-10 15:49] #169 closed

[2021-06-11 17:00] deepak-quo opened #175 "easypost.js file is missing in the build"
[code]
Index.js file is importing easypost.js which is not present in the api directory.

[2021-06-11 17:24] deepak-quo commented on #175
@Justintime50 I am using the latest one - v3.11.0

[2021-06-11 19:46] Justintime50 commented on #175
@deepak-quo thanks for reporting this! We've identified the issue in our build process and will correct this so it shouldn't happen again in the future.

We are about to release 3.11.1 which should fix this issue.

[2021-06-11 23:05] #175 closed

[2021-06-28 20:28] Justintime50 commented on #157
I looked into this a bit but would probably need more info to pursue a solution. Do you have a link to your project you can share here or additional details such as your webpack config or `package.json`?

Additionally, the Webpack Raw Loader looks like it is for `pem` or `txt` files which these aren't and may be a red herring. It looks like serverless-bundle can handle JS and JSON out of the box.

[2021-07-16 06:55] yuyez opened #184 "TypeScript declaration file (.d.ts)"
A d.ts [declaration file](https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) would be quite helpful for TypeScript developers. Would it be possible for one to be included?

[2021-07-16 15:49] Justintime50 commented on #184
I believe this is being worked on as a part of #156

[2021-07-20 17:28] Justintime50 commented on #157
After looking into this some, I believe it's an issue with how `serverless-bundle` is setup. If you have additional details to provide that could help us further assist you, please share them here and reopen this issue.

[2021-07-20 17:28] #157 closed

[2021-10-06 16:51] Justintime50 opened #189 "Installing/Building the Library is Unsupported on Node 16"
I tried installing `node_modules` with Node 16 and was met with a slew of deprecation warnings before the build process finally errored out (way too much to be able to easily share here), it appears that the versions of many of our dependencies are not compatible with `Node 16`. We should make an effort to update those dependencies to support Node 16, at the same time, we may also want to look int

[2021-10-26 22:53] Justintime50 opened #192 "Verify an Address Return `Address not found` Error and Does not Verify At All"
When attempting to verify an address, you'll receive the error:

[code]

via this client library even though using the same address on C# or Python will properly verify and correct the address when passing `verify: ['delivery']`. It appears the code for this hasn't been touched in 5+ years and may not have worked during this time as it's not properly tested.

We need to investigate why verifying a

[2021-10-27 18:00] #192 closed, assigned to nobody

[2021-12-08 18:10] asbaca93 opened #195 "has_more data structure doesn't match documentation"
When running the retrieve a list of shipments path, the response format I receive doesn't match the format of the documentation. In the docs, an object is returned with a has_more key value pair and a shipments key value pair, however, when ran with the NodeJS Easypost SDK, I receive an array with the has_more as an index in the array.

https://www.easypost.com/docs/api/node#retrieve-a-list-of-shi

[2021-12-08 18:13] Justintime50 commented on #195
Can you provide a shipment ID that is affected that we could check out?

[2021-12-08 18:16] asbaca93 commented on #195
here is a shipment id:
shp_90ad4c50583c4a619d8f8642e342c0da

This response is from the get all method:
[code]

[2021-12-08 18:25] Justintime50 commented on #195
Oh my apologies, I misread. This is related to the `/all` shipment endpoint and not a single shipment.

I'm seeing that the `has_more` key in your example above is returned as it should be. You specified a `page_size` of `1` so only a single shipment was returned, with the `has_more` key inferring there are more shipments in total. To get those shipments, you'll need to change the page you're on.

[2021-12-08 18:37] asbaca93 commented on #195
the documentation states that the payload structure is an object, however I got an array as a response. I agree with you about the page size. The issue is the data structure, not the data itself. This is the example given on the [documentation](https://www.easypost.com/docs/api/node#retrieve-a-list-of-shipments):
[code]
This is an object with a has more key and a shipment key. In my example respon

[2021-12-08 18:51] Justintime50 commented on #195
I was able to recreate what you are seeing - it doesn't match after all. Thanks for reporting this! We'll do some digging into `why` this is the way it is and look at correcting if necessary. I will mention this may not be related solely to the shipments endpoint and may affect other `all` methods in this library. Changing it's behavior if true would be a breaking change (probably for the better t

[2021-12-08 18:55] Justintime50 commented on #195
We are unwrapping the response here: https://github.com/EasyPost/easypost-node/blob/86d5c2faf3da89e080cb08e974e24c18ba0f9409/src/resources/base.js#L27. Changing this to `result = res.body` seems to be a quick fix, continuing to investigate.

[2021-12-21 11:50] oomphmade commented on #184
@Justintime50 any idea when this might get released?

[2021-12-21 20:53] Justintime50 commented on #184
As I'm not the one working on this I can't speak to when it would get released. It looks like the PR is still in draft mode and I'm unsure if the author is finished with it or not. I'd ping on the PR for more details from the author.

[2021-12-22 10:08] oomphmade commented on #184
Thanks for your help I will ping directly on the PR

[2022-01-24 01:28] jkassis commented on #122
bummer man.

[2022-02-07 21:21] bminer opened #203 "Update dependencies"
In particular, yargs versions 10.1.0 - 15.0.0 are outdated and cause `npm audit` to complain:

[code]

This library is using yargs 13.2.4.

[2022-02-07 21:22] Justintime50 commented on #203
Hey @bminer, thanks for writing in! We are actually planning on doing a large overhaul of the dependencies and build system for this library in the next few weeks - we'll make sure to take the list you provided into account as we do so!

[2022-02-18 01:40] bminer commented on #203
Excellent!

[2022-02-20 17:55] cmawhorter opened #212 "parcel - predefined_package list?"
is there a list of predefined_package's somewhere?  i know this kinda exists [here
as a web page](https://www.easypost.com/service-levels-and-parcels), but does it exist somewhere in a more usable format, like json?

also -- is there anything that maps which predefined packages are available for a given service level?  for example -- with USPS -- _LargeFlatRateBox_ is never available with service

[2022-02-20 20:10] Justintime50 commented on #212
Thanks for writing in! There is not currently an alternative list of predefined packages per carrier/service aside from the previously linked documentation found on our website ([Service Levels](https://www.easypost.com/docs/api#service-levels), [Predefined Packages](https://www.easypost.com/docs/api#predefined-packages)).

Publishing an up-to-date list can be tricky as carriers are frequently cha

[2022-02-20 20:10] #212 closed

[2022-02-24 22:55] Justintime50 commented on #212
@cmawhorter I was able to generate a JSON list of both our [service levels](https://github.com/Justintime50/easypost-tools/blob/7d5508c3f7a96582299bfbedbdb438eb0fbeb866/src/reference/easypost-service-levels.json) and [predefined packages](https://github.com/Justintime50/easypost-tools/blob/7d5508c3f7a96582299bfbedbdb438eb0fbeb866/src/reference/easypost-predefined-packages.json) using a [tool I wro

[2022-02-28 00:43] cmawhorter commented on #212
thanks for putting that together. i'll take a look.

yes, definitely.  i don't have the resources to track down all this info for all the carriers easypost supports, which is why i was hoping it was exposed somehow.

[2022-03-04 18:10] Justintime50 commented on #203
We've updated all the dependencies as much as we can while maintaining support for Node 10+. These changes will be included in our upcoming major version release.

[2022-03-04 18:10] #203 closed

[2022-03-04 18:11] Justintime50 commented on #189
The library is now buildable on Node 16+

[2022-03-04 18:11] #189 closed

[2022-03-09 21:33] LoganSimonsen opened #222 "Unexplained middleware causes confusion with JSON objects on HTTP requests"
### **Current State**
Node Library has middleware that causes objects with an `id` to be stripped of any keys/values that are not `id` when making HTTP requests (or responding on an HTTP request).

### **Desired State**
- [] As a developer, I want clarity on what information is being sent to EasyPost or to my other applications from my Node server (which has easypost-node middleware). I want my ob

[2022-03-11 18:50] Justintime50 commented on #222
After some additional testing I found why it's setup this way. If you want to create a shipment but only pass it the address and parcel IDs, this logic will do that for you; however, it's probably poorly written and has the unintended side effect of only returning those IDs on the response as well so instead of removing this, we should refactor it to work correctly.

I'm going to make some tests a

[2022-04-03 01:18] wesleyt95 opened #229 "Uncaught ReferenceError: process is not defined"
I installed the package today hoping to test but just the lines: ``` const EasyPost = require('@easypost/api')``` &
    ```const api = new EasyPost(API_Key)``` causes errors: ```Uncaught ReferenceError: process is not defined
    at Module../easypost.js (easypost.js:36:1)```

easypost.js: ```export const UA_INFO = {
  client_version: pkg.version,
  lang: 'nodejs',
  lang_version: process.version,

[2022-04-03 03:25] wesleyt95 commented on #229
Edit: ```const api = new EasyPost(API_Key)``` isn't causing the error, so ```const EasyPost = require('@easypost/api')``` must be the problem... Did I do something wrong?

[2022-04-03 03:58] wesleyt95 commented on #229
Uninstalled and reinstalled everything... new error: ```Compiled with problems:X

ERROR in ./node_modules/@easypost/api/easypost.js 3870:21-34

Module not found: Error: Can't resolve 'os' in 'C:\Users\Wes\YSC\ysctechclub\node_modules\@easypost\api'

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module

[2022-04-03 18:44] Justintime50 commented on #229
Can you provide some additional details to help us determine what's going on here? What version of Node are you using? What kind of app are you trying to build and how are you including the EasyPost library (are you using webpack, are you simply including it in a node app, are you needing to use a polyfill based on the version of Node you are using)? If you are using anything older than Node 12, p

[2022-04-04 10:30] wesleyt95 commented on #229
@Justintime50

Node: v16.6.1
Webpack v5.71
@easypost/api v4.0.0

I'm building my first basic e-commerce React app so I'm not sure what I'm doing wrong all I did was type ```const EasyPost = require('@easypost/api')``` at the top of the file; according to my version's I don't think I should need a 'polyfill'. I believe I fixed the 'os' error  by fixing some wrong versions in my package.json file.

[2022-04-04 11:00] wesleyt95 commented on #229
also in my package.json:
[code]

[2022-04-04 15:14] Justintime50 commented on #229
This package is intended to be used as a backend and not included in frontend code as it's written in Node and not Javascript. What I'd suggest is you create a backend (API) that exposes endpoints to do things such as create a shipment and purchase a label. Then you can have your React app (frontend) hit those endpoints and send the data needed to perform those actions. There are various packages

[2022-04-04 15:14] #229 closed

[2022-04-05 11:07] wesleyt95 commented on #229
Thanks for responding, I did the following commands after reading about polyfills and webpack 5... I thought this would do the trick but process is still undefined; I don't want to give up on this too soon do you have any critique for the following?

Install patch-package: ```yarn add patch-package```

Modify ```webpack.config.js```:
[code]

Run ```yarn patch-package react-scripts```

Add a postin

[2022-04-10 00:07] wesleyt95 commented on #229
@Justintime50 Okay I did a little research and chose to implement firebase cloud functions and connected it to my front end... I think it's partially working! I checked the logs from firebase functions I received a tracking link, a rate, shipping label image link and a carrier_account_id; does that mean it's working properly? There's a lot of info being returned in the firebase logs though and I'm

[2022-04-11 15:50] Justintime50 commented on #229
Thanks for sharing that link. Let's continue this conversation on StackOverflow as that is a better medium for general coding questions.

[2022-04-26 18:45] ruanmartinelli opened #243 "Possible values form Shipment.status?"
Hey! Hope this is a good place for this kind of question.

I'm trying to figure out what are the possible values from the property `status` in the Shipments object. I've checked the PR with TypeScript definitions but it's only defined as `string` ([source](https://github.com/EasyPost/easypost-node/blob/b31143f8bfa7c5890a2470a173203073eb92b23b/types/Shipment/Shipment.d.ts#L122)). I also couldn't fi

[2022-04-26 19:06] Justintime50 commented on #243
The possible values of the `status` field can be viewed [here](https://www.easypost.com/docs/api#test-tracking-codes). They will be one of the possible EasyPost tracking statuses. If you have additional questions about our API, you can reach out to our support team at support@easypost.com.

[2022-04-26 19:06] #243 closed

[2022-05-05 17:22] Justintime50 commented on #222
Can't reproduce, closing.

[2022-05-05 17:22] #222 closed

[2022-05-24 19:43] Justintime50 opened #251 "Swap Update Brand, Carrier, User, and Webhook Endpoints to use PATCH HTTP Method"
The `update brand`, `update carrier account`, `update user`, and `update webhook` endpoints/functions are supposed to use the `PATCH` HTTP method and not `PUT`. We should swap these endpoints in the lib from `PUT` to `PATCH`. As a part of this process, please re-record those four cassettes to ensure this continues to work.

[2022-06-07 21:15] craigmichaelmartin opened #257 "[Feat]: Have the base `ErrorClass` extend Error"
### Feature Request Is New

- [x] I have verified that the requested feature does not already exist or has not already been requested.

### Description of the feature

👋 Good afternoon! Thank you for all your work on this project!

I was wondering if there is a reason [ErrorClass](https://github.com/EasyPost/easypost-node/blob/dc0c7020157c72850866f249b8d080d33a2ce726/src/errors/error.js#L1) doesn'

[2022-06-07 22:03] nwithan8 commented on #257
Thanks for the proposal!

Sounds like a good idea to me, especially if it will make our library interact nicer with other tools.

If you want to take a crack at a PR, that'd be great!

[2022-06-16 03:13] #251 closed

[2022-07-05 17:53] Justintime50 commented on #184
This has been merged to master and will be released in the next business week. For more details about Typescript support, please see the PR where it was added and the accompanying thread on #156.

[2022-07-05 17:53] #184 closed

[2022-07-08 17:17] Justintime50 opened #268 "Update Partner White Label Tests to Account for New `has_more` and `referral_customers` keys"
# Summary

The responses to the retrieve All Referrals endpoint has been updated with two new attributes:

  - The results of the list will now be wrapped in an attribute titled `referral_customers`
  - A "has_more" attribute (boolean) for pagination is now also included at the root level

## Acceptance Criteria

- [] Tests properly check the `referral_customers` key instead of the root list to en

[2022-07-08 17:19] ryannguyen16 commented on #268
i will look into this

[2022-07-08 20:59] #268 closed

[2022-07-11 21:23] Justintime50 commented on #122
v5.3.0 has been released with Typescript definitions.

[2022-09-09 16:29] Justintime50 commented on #257
@craigmichaelmartin thanks for the suggestion! We plan to overhaul error handling in all our libs very shortly and are in the planning stages as we speak. We'll keep you posted when this is complete.